*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html
{
    scroll-behavior: smooth !important;
}

.hero
{
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/background_image.jpg);
    background-position: 7100px -100px;
    background-size: cover;
    padding: 25px 10%;
    overflow: hidden;
    /* background-repeat: no-repeat; */
}

nav
{
    padding: 1px 0;
    display: flex;
    align-items: center;
}

nav ul
{
    padding-left: 580px;
}

.logo
{
    width: 140px;
}

nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a
{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.login-btn
{
    text-decoration: none;
    margin-right: 15px;
    color: #333;
    font-weight: 400;
}

.btn
{
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #3d3dd1, #06beec);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.btnn
{
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #3d3dd1, #06beec);
    font-size: 14px;
    border-radius: 30px;
    transition: 0.5s;
}

.content
{
    margin-top: 10%;
    max-width: 600px;
}

.content h1
{
    font-size: 70px;
    color: #222;
    margin-bottom: 40px;
}

.content p
{
    margin: 10px 0 30px;
    color: #333;
    animation-delay: 0.5s;
}

.content .btn
{
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}

.btn:hover
{
    border-top-right-radius: 30px;
}

.anim
{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup
{
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

.heading
{
    width: 90%;
    display: flex;
    /* justify-content: left;
    align-items: center; */
    border-radius: 30px;
    flex-direction: column;
    text-align: left;
    margin: 20px 0px;
    margin-top: 220px;
    background-color: #D7ECFF;
}

.heading h1
{
    font-size: 35px;
    text-align: center;
    color: #000;
    margin-bottom: 25px;
    margin-top: 20px;
    position: relative;
}

.heading p
{
    font-size: 16px;
    color: #333;
    margin-bottom: 35px;
    text-align: center;
}

.container
{
    width: 90%;
    padding: 19px 20px;
    background-color: #D7ECFF;
    border-radius: 30px;
    margin-top: 80px;
}

.about
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image
{
    overflow: hidden;
}


.about-image img
{
    height: 240px;
    width: 240px;
    display: block;
    border-radius: 15px;
    margin-right: 25px;
}

.about-content
{
    flex: 1;
}

.about-content h2
{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p
{
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}